<main>
    <section class="py-5 text-center" id="fokep">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Szállásfoglaló</h1>
                <p class="lead">
                    Szeretettel köszöntünk szállásfoglaló oldalunkon! Örömmel segítünk megtalálni az igényeidnek leginkább megfelelő pihenőhelyet, legyen szó rövid kikapcsolódásról vagy hosszabb tartózkodásról. Böngéssz kínálatunkban, és válaszd ki azt a szállást, ahol igazán otthon érezheted magad.
                </p>
            </div>
        </div>
    </section>
    <div class="album py-5 bg-body-tertiary">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card shadow-sm">
                        <svg aria-label="Placeholder: Thumbnail" class="bd-placeholder-img card-img-top" height="225"
                            preserveAspectRatio="xMidYMid slice" role="img" width="100%"
                            xmlns="http://www.w3.org/2000/svg">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c"></rect>
                            <text x="50%" y="50%" fill="#eceeef" dy=".3em">
                                Thumbnail
                            </text>
                        </svg>
                        <div class="card-body">
                            <p class="card-text">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia quos deleniti doloribus? Distinctio expedita deleniti totam libero adipisci. Nam quia illum magni temporibus repellendus id? Eligendi modi quas itaque necessitatibus?
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">
                                        Foglalás
                                    </button>
                                </div>
                                <small class="text-body-secondary">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <svg aria-label="Placeholder: Thumbnail" class="bd-placeholder-img card-img-top" height="225"
                            preserveAspectRatio="xMidYMid slice" role="img" width="100%"
                            xmlns="http://www.w3.org/2000/svg">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c"></rect>
                            <text x="50%" y="50%" fill="#eceeef" dy=".3em">
                                Thumbnail
                            </text>
                        </svg>
                        <div class="card-body">
                            <p class="card-text">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla, neque culpa? Voluptate, quod! Exercitationem laborum commodi facilis alias deleniti, voluptates dolorum quam cupiditate ullam voluptatum consectetur, hic nihil inventore. Veniam.
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">
                                        Foglalás
                                    </button>
                                </div>
                                <small class="text-body-secondary">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <svg aria-label="Placeholder: Thumbnail" class="bd-placeholder-img card-img-top" height="225"
                            preserveAspectRatio="xMidYMid slice" role="img" width="100%"
                            xmlns="http://www.w3.org/2000/svg">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c"></rect>
                            <text x="50%" y="50%" fill="#eceeef" dy=".3em">
                                Thumbnail
                            </text>
                        </svg>
                        <div class="card-body">
                            <p class="card-text">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores, dicta iusto! Laborum iure molestias omnis deserunt impedit esse quod! Fugit ut corrupti commodi. Eum minus laudantium similique molestias reiciendis aut?
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">
                                        Foglalás
                                    </button>
                                </div>
                                <small class="text-body-secondary">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <svg aria-label="Placeholder: Thumbnail" class="bd-placeholder-img card-img-top" height="225"
                            preserveAspectRatio="xMidYMid slice" role="img" width="100%"
                            xmlns="http://www.w3.org/2000/svg">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c"></rect>
                            <text x="50%" y="50%" fill="#eceeef" dy=".3em">
                                Thumbnail
                            </text>
                        </svg>
                        <div class="card-body">
                            <p class="card-text">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime consequuntur quisquam nihil id, dolor perferendis eveniet aut harum quia velit ad error sapiente? Eaque rem corrupti officiis incidunt alias consequatur.
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">
                                        Foglalás
                                    </button>
                                </div>
                                <small class="text-body-secondary">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <svg aria-label="Placeholder: Thumbnail" class="bd-placeholder-img card-img-top" height="225"
                            preserveAspectRatio="xMidYMid slice" role="img" width="100%"
                            xmlns="http://www.w3.org/2000/svg">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c"></rect>
                            <text x="50%" y="50%" fill="#eceeef" dy=".3em">
                                Thumbnail
                            </text>
                        </svg>
                        <div class="card-body">
                            <p class="card-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, debitis. A nihil blanditiis vero, voluptatem quod error aspernatur minima, officia itaque atque, accusamus eveniet molestias qui quis est mollitia et?
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">
                                        Foglalás
                                    </button>
                                </div>
                                <small class="text-body-secondary">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <svg aria-label="Placeholder: Thumbnail" class="bd-placeholder-img card-img-top" height="225"
                            preserveAspectRatio="xMidYMid slice" role="img" width="100%"
                            xmlns="http://www.w3.org/2000/svg">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c"></rect>
                            <text x="50%" y="50%" fill="#eceeef" dy=".3em">
                                Thumbnail
                            </text>
                        </svg>
                        <div class="card-body">
                            <p class="card-text">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae facilis aliquid nisi consectetur in. Corporis similique perspiciatis libero repellendus, doloremque et, velit minus asperiores tempore aliquam nostrum unde itaque dolorem!
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">
                                        Foglalás
                                    </button>
                                </div>
                                <small class="text-body-secondary">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <svg aria-label="Placeholder: Thumbnail" class="bd-placeholder-img card-img-top" height="225"
                            preserveAspectRatio="xMidYMid slice" role="img" width="100%"
                            xmlns="http://www.w3.org/2000/svg">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c"></rect>
                            <text x="50%" y="50%" fill="#eceeef" dy=".3em">
                                Thumbnail
                            </text>
                        </svg>
                        <div class="card-body">
                            <p class="card-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt sapiente iure maxime atque sit? Enim temporibus odio fugit, totam ut laudantium a quidem quo blanditiis, eaque deleniti pariatur molestiae et.
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">
                                        Foglalás
                                    </button>
                                </div>
                                <small class="text-body-secondary">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <svg aria-label="Placeholder: Thumbnail" class="bd-placeholder-img card-img-top" height="225"
                            preserveAspectRatio="xMidYMid slice" role="img" width="100%"
                            xmlns="http://www.w3.org/2000/svg">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c"></rect>
                            <text x="50%" y="50%" fill="#eceeef" dy=".3em">
                                Thumbnail
                            </text>
                        </svg>
                        <div class="card-body">
                            <p class="card-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias iure officia sit laborum necessitatibus qui consequuntur, ipsa perferendis debitis, libero non laudantium facere aliquam corrupti iusto eius hic aperiam saepe.
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">
                                        Foglalás
                                    </button>
                                </div>
                                <small class="text-body-secondary">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <svg aria-label="Placeholder: Thumbnail" class="bd-placeholder-img card-img-top" height="225"
                            preserveAspectRatio="xMidYMid slice" role="img" width="100%"
                            xmlns="http://www.w3.org/2000/svg">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c"></rect>
                            <text x="50%" y="50%" fill="#eceeef" dy=".3em">
                                Thumbnail
                            </text>
                        </svg>
                        <div class="card-body">
                            <p class="card-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur labore sit sunt iste dicta fuga ullam eum tenetur nesciunt soluta ea explicabo doloribus voluptatem aliquid veniam, laboriosam perspiciatis facere at?
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">
                                        Foglalás
                                    </button>
                                </div>
                                <small class="text-body-secondary">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>