<main>
    <section class="py-5 text-center" id="fokep">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Szállásfoglaló</h1>
                <p class="lead">
                    Szeretettel köszöntünk szállásfoglaló oldalunkon! Örömmel segítünk megtalálni az igényeidnek leginkább megfelelő pihenőhelyet, legyen szó rövid kikapcsolódásról vagy hosszabb tartózkodásról. Böngéssz kínálatunkban, és válaszd ki azt a szállást, ahol igazán otthon érezheted magad.
                </p>
            </div>
        </div>
    </section>
    <div class="album py-5 bg-body-tertiary">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card shadow-sm">
                        <img src='/assets/images/slider_01.jpg' class="img-fluid rounded shadow-sm" alt="">
                        <div class="card-body">
                            <p class="card-text">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia quos deleniti doloribus? Distinctio expedita deleniti totam libero adipisci. Nam quia illum magni temporibus repellendus id? Eligendi modi quas itaque necessitatibus?
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary" [routerLink]="['/info', 9]">
                                        További információ
                                    </button>
                                </div>
                                <small class="text-body-secondary">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img src='/assets/images/slider_01.jpg' class="img-fluid rounded shadow-sm" alt="">
                        <div class="card-body">
                            <p class="card-text">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia quos deleniti doloribus? Distinctio expedita deleniti totam libero adipisci. Nam quia illum magni temporibus repellendus id? Eligendi modi quas itaque necessitatibus?
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary" [routerLink]="['/info', 9]">
                                        További információ
                                    </button>
                                </div>
                                <small class="text-body-secondary">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img src='/assets/images/slider_01.jpg' class="img-fluid rounded shadow-sm" alt="">
                        <div class="card-body">
                            <p class="card-text">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia quos deleniti doloribus? Distinctio expedita deleniti totam libero adipisci. Nam quia illum magni temporibus repellendus id? Eligendi modi quas itaque necessitatibus?
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary" [routerLink]="['/info', 9]">
                                        További információ
                                    </button>
                                </div>
                                <small class="text-body-secondary">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img src='/assets/images/slider_01.jpg' class="img-fluid rounded shadow-sm" alt="">
                        <div class="card-body">
                            <p class="card-text">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia quos deleniti doloribus? Distinctio expedita deleniti totam libero adipisci. Nam quia illum magni temporibus repellendus id? Eligendi modi quas itaque necessitatibus?
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary" [routerLink]="['/info', 9]">
                                        További információ
                                    </button>
                                </div>
                                <small class="text-body-secondary">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img src='/assets/images/slider_01.jpg' class="img-fluid rounded shadow-sm" alt="">
                        <div class="card-body">
                            <p class="card-text">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia quos deleniti doloribus? Distinctio expedita deleniti totam libero adipisci. Nam quia illum magni temporibus repellendus id? Eligendi modi quas itaque necessitatibus?
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary" [routerLink]="['/info', 9]">
                                        További információ
                                    </button>
                                </div>
                                <small class="text-body-secondary">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img src='/assets/images/slider_01.jpg' class="img-fluid rounded shadow-sm" alt="">
                        <div class="card-body">
                            <p class="card-text">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia quos deleniti doloribus? Distinctio expedita deleniti totam libero adipisci. Nam quia illum magni temporibus repellendus id? Eligendi modi quas itaque necessitatibus?
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary" [routerLink]="['/info', 9]">
                                        További információ
                                    </button>
                                </div>
                                <small class="text-body-secondary">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img src='/assets/images/slider_01.jpg' class="img-fluid rounded shadow-sm" alt="">
                        <div class="card-body">
                            <p class="card-text">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia quos deleniti doloribus? Distinctio expedita deleniti totam libero adipisci. Nam quia illum magni temporibus repellendus id? Eligendi modi quas itaque necessitatibus?
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary" [routerLink]="['/info', 9]">
                                        További információ
                                    </button>
                                </div>
                                <small class="text-body-secondary">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img src='/assets/images/slider_01.jpg' class="img-fluid rounded shadow-sm" alt="">
                        <div class="card-body">
                            <p class="card-text">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia quos deleniti doloribus? Distinctio expedita deleniti totam libero adipisci. Nam quia illum magni temporibus repellendus id? Eligendi modi quas itaque necessitatibus?
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary" [routerLink]="['/info', 9]">
                                        További információ
                                    </button>
                                </div>
                                <small class="text-body-secondary">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img src='/assets/images/slider_01.jpg' class="img-fluid rounded shadow-sm" alt="">
                        <div class="card-body">
                            <p class="card-text">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia quos deleniti doloribus? Distinctio expedita deleniti totam libero adipisci. Nam quia illum magni temporibus repellendus id? Eligendi modi quas itaque necessitatibus?
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary" [routerLink]="['/info', 9]">
                                        További információ
                                    </button>
                                </div>
                                <small class="text-body-secondary">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>