<div class="container border rounded mt-2 bg-light text-black">
    <h1>Köszönjük a foglalását</h1>
    <p>Örömmel értesítjük, hogy sikeresen rögzítettük a szállásfoglalását. Köszönjük, hogy minket választott, mindent megteszünk azért, hogy a nálunk eltöltött idő kellemes, kényelmes és emlékezetes legyen.</p>
    <p>A foglalással kapcsolatos minden fontos információt e-mailben küldünk el Önnek a megadott e-mail címre. Kérjük, figyelje a beérkező leveleit, valamint szükség esetén a spam mappát is.</p>
</div>