<div class="booking-wrapper">

  <h4 class="fw-bold mb-3">Foglalás</h4>

  
  <div class="mb-3">
    <label class="form-label fw-semibold">Hány fő</label>
    <input type="number" min="1" class="form-control short-input"
           [(ngModel)]="persons" (ngModelChange)="calculatePrice()">
  </div>

  
  <div class="mb-3 booking-calendar">
    <full-calendar [options]="calendarOptions"></full-calendar>

   
    <div class="d-flex justify-content-end align-items-center gap-3 mt-2">
      <div class="price-box p-3 rounded">
        <span class="fw-bold fs-3">Végösszeg: </span>
        <span class="fw-bold fs-3 text-primary">{{ totalPrice | number }} Ft</span>
      </div>

      <button class="btn btn-primary btn-lg py-2"
              (click)="submitBooking()">Foglalás</button>
    </div>
  </div>

</div>
