#fokep{
    background-image: url('/assets/images/slider_01.jpg') !important;
    background-position: right center;
    color: white;
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: darken;
    overflow: hidden;
}