<div class="p-3 col-lg-6 offset-lg-3">
    <h3 class="mb-4">Regisztráció</h3>

    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="name" [(ngModel)]="newUser.name" placeholder="">
        <label for="name" class="form-label">Felhasználónév: <em>*</em></label>
    </div>


    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="email" [(ngModel)]="newUser.email" placeholder="">
        <label for="email" class="form-label">Email cím: <em>*</em></label>
    </div>


    <div class="form-floating mb-3">
        <input type="password" class="form-control" id="password" [(ngModel)]="newUser.password" placeholder="">
        <label for="password" class="form-label">Jelszó: <em>*</em></label>
    </div>

    <div class="form-floating mb-3">
        <input type="password" class="form-control" id="password" [(ngModel)]="newUser.confirm" placeholder="">
        <label for="password" class="form-label">Jelszó megerősítése: <em>*</em></label>
    </div>

    <div class="d-flex mb-3 justify-content-between">
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="rememberme" [(ngModel)]="acceptTerms" placeholder="">
            <label for="rememberme">Elfogadom a felhasználói feltételeket <em>*</em></label>
        </div>
    </div>
    
    
    <div class="d-flex gap-2">
        <button class="btn btn-primary" (click)="register()"><i class="bi bi-person-plus-fill"></i>&nbsp;&nbsp;Regisztráció</button>
        <button class="btn btn-secondary" routerLink="/login"><i class="bi bi-box-arrow-in-right"></i>&nbsp;&nbsp;Belépés</button>
    </div>
</div>
